html {
    background: beige;

}

.header-right-cluster {
    position: relative;
    display: flex;
    justify-content: right;
    cursor: pointer;
    flex-wrap: wrap;
}

#menu-icon {
    cursor: pointer;
    margin-top: 5%;
    margin-right: 10%;
}




.home-intro-wrapper {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.intro-title {
    font-family: sans-serif;
    font-size: 46px;
}

.intro-roles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;


}

.overlay a {
    padding: 1%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height:450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

.contact-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 24px;


    h1 {
        text-align: center;
    }
}

.work-experience {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 24px;

}

.about-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 24px;

    h1 {
        text-align: center;
    }
}

.company-description {
    display: block;
    inline-size: 900px;
    overflow-wrap: break-word;
}

.my-bio {
    display: block;
    inline-size: 550px;
    overflow-wrap: break-word;
}